apiVersion: v1
baseDomain: {{ openshift_base_domain }}
compute: 
- architecture: amd64
  name:  worker
  platform: 
    vsphere:
      cpus: {{ worker_cpu }}
      memoryMB: {{ worker_memory }}
      osDisk: 
        diskSizeGB: {{ worker_disksize }}
  replicas: {{ worker_node_count }}
controlPlane: 
  architecture: amd64
  name: master
  platform: 
    vsphere:
      cpus: {{ master_cpu }}
      memoryMB: {{ master_memory }}
      osDisk: 
        diskSizeGB: {{ master_disksize }}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ openshift_clustername }} 
platform:
  vsphere:
    apiVIPs:
      - {{ openshift_api_vip }}
    failureDomains: 
    - name: df-patrick
      region: region-patrick
      server: {{ vcenter_hostname }}
      topology:
        computeCluster: "/{{ vcenter_datacenter }}/host/{{ vcenter_cluster }}"
        datacenter: {{ vcenter_datacenter }}
        datastore: "/{{ vcenter_datacenter }}/datastore/{{ vcenter_datastore }}" 
        networks:
        - {{ vcenter_network }}
        resourcePool: "/{{ vcenter_datacenter }}/host/{{ vcenter_cluster }}/Resources/{{ vcenter_rp }}" 
        folder: "/{{ vcenter_datacenter }}/vm/{{ vcenter_folder }}"
        tagIDs: 
        - "urn:vmomi:InventoryServiceTag:9a060922-f444-451d-b62c-af33b54b5d02:GLOBAL"
      zone: zone-patrick
    ingressVIPs:
    - {{ openshift_ingress_vip }}
    vcenters:
    - datacenters:
      - {{ vcenter_datacenter }}
      password: "{{ vcenter_password }}"
      port: 443
      server: {{ vcenter_hostname }}
      user: "{{ vcenter_username }}"
    diskType: thin 
fips: false
pullSecret: '{{ lookup('file', path_to_pull_secret) }}'
sshKey: '{{ lookup('file', dir_ocp_sshkeys + openshift_clustername + '.pub') }}'